/* Web Responsivenes */
@import url('../css/mobile-style.css');

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Global styling */
:root{
    --Poppins: "Poppins",cursive;
    --Roboto: "Roboto",cursive;
    --gradient: linear-gradient((120deg,#ff00f7 10%,#00d0ff));
    --light-gray: rgba(211, 211, 211, 0.082);
}

a{
    text-decoration: none;
}

.btn{
    margin-left: 1.5rem;
    border-radius: 50px;
    padding: 5px 15px;
    position: relative;
    overflow: hidden;
    z-index: 999;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 0%;
    height: 100%;
    border-radius: 50px;
    background: -webkit-linear-gradient(120deg,  #ff00f7 10%,#00d0ff);
    opacity: .8;
    z-index: -1;
    transition: .5s ease-in-out;
}

.btn:hover::before{
    width: 100%;
    left: 0;
}

.card{
    box-shadow: 0px 0px 8px 0 #0000002c;
    transition: box-shadow .4s ease;
}

.card:hover{
    box-shadow: 0px 0px 3px 0 #0000002c;
    transition: box-shadow .3s ease;
}

#main .sub-title{
    font-size: 1.3rem;
    font-weight: 600;
    background: -webkit-linear-gradient(120deg,  #ff00f7 0%,#00d0ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 5px;
}

#main .title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 5px;
}

#main .title-text{
    line-height: 1.8rem;
    padding-bottom: 1.5rem;
}
/* ./Global styling */


/* Header section styling */
header{
    background: url("/assets/header-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 999;
}

header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: -1;
}


header .navbar-toggler,
.navbar-toggler,
.navbar-toggler-icon{
    outline: none;
    box-shadow: none;
    border: none;
    color: white;
}

header .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}



header .nav-item{
    padding-right: .7em;
    align-self: center;
}

header .nav-link{
    font-size: 18px;
    color: white;
    transition: all .3s ease;
}

header .nav-link:hover{
    background: -webkit-linear-gradient(120deg,  #ff00f7 10%,#00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header .row{
    width: 100%;
    margin: auto;
    padding: 8vmin 0;
    flex-wrap: wrap;
}

header .row .hero-title{
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: .6rem;
    background: -webkit-linear-gradient(120deg,  #ff00f7 10%,#00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .cards{
    margin-top: 2rem;
}

header .cards .card{
    background: none;
    width: 20rem;
    margin-top: 30px;
    margin:0rem 10px;
    border: none;
    box-shadow: none;
}

header .cards .card .card-body img{
    padding-bottom: 20px;
}

header .cards .card .card-info h5{
    font-weight: bold;
}
/* Header section styling */

/* MAIN SECTION */

/* about section */
#main .about{
    padding: 5rem 0rem;
    position: relative;
}

#main .about .about-img{
    max-width: 350px;
    width: 100%;
    height: 100%;
    margin: auto;
}

#main .about .about-img .img1{
    width: 300px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

#main .about .about-img .img2{
    width: 300px;
    border-radius: 20px;
    position: absolute;
    bottom: 120px;
    left: 100px;
    z-index: -1;
    
}

#main .about .about-info>.img{
    width: 50px;
    padding-bottom: 10px;
}

#main .about .about-info .h1{
    font-size: 3.2rem;
    letter-spacing: .3rem;
}

#main .about .about-info .text{
    font-weight: lighter;
}

#main .about .text-2{
    padding-top: 3rem;
    background: -webkit-linear-gradient(120deg,  #ff00f7 40%,#00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

#main .about .text-2:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 2px;
    background: linear-gradient(120deg,  #ff00f7 40%,#00d0ff );
}
/* about section */

/* services section */
#main .services{
    background-color: var(--light-gray);
    padding: 5rem 0rem;
}

#main .services .cards .card{
    background: none;
    width: 18rem;
    margin: 10px;
    border: none;
    text-align: left;
    background: #fff;
    padding: 10px 5px;
    border-radius: 10px;
}

#main .services .card .h5{
    padding: 10px 0 0 0;
}

#main .services .card .icon-1{
    color: rgba(218, 13, 54, 0.548);
}

#main .services .card .icon-2{
    color: #3485c7;
}

#main .services .card .icon-3{
    color: rgba(115, 255, 225, 0.842);
}

#main .services .card .icon-4{
    color: #70fcba;
}

#main .services .card .icon-5{
    color: #9671b9;
}

#main .services .card .icon-6{
    color: #0060b9;
}
/* .//services section */

/* projects section */
#main .projects{
    padding: 5rem 0;
}

#main .projects .card{
    border: none;
    box-shadow: none !important;
    text-align: left;
    margin: 1rem .5rem;
    cursor: pointer;
}

#main .projects .card .card-img{
    max-width: 350px;
    width: 100%;
    height: 100%;
    margin: auto;
}

#main .projects .card .card-img .img{
    width: 350px;
    height: 100%;
    border-radius: 10px;
    position: relative;
    transition: transform .4s ease;
}

#main .projects .card .card-img .img:hover{
    transform: scale(1.03);
}

#main .projects .card .card-body{
    position: absolute;
    bottom: -10px;
    left: 0;
    line-height: 0;
    transition: bottom .6s ease;
}

#main .projects .card:hover .card-body{
    bottom: 10px;
} 

#main .projects .card .card-body .h5{
    font-size: 30px;
    font-weight: 600;
}
/* .//projects section */

/* Company section */
#main .company{
    background-color: var(--light-gray);
    padding: 5rem 0rem;
}

#main .company .cards .card{
    background: none;
    width: 14rem;
    margin: 7px;
    border: none;
    background: #fff;
    padding: 20px 3px;
    border-radius: 10px;
}

#main .company .cards .card .icon{
    font-size: 30px;
    margin-top: 20px;
}

#main .company .cards .card .icon-1{
    color: rgba(218, 13, 54, 0.548);
}

#main .company .cards .card .icon-2{
    color: rgba(105, 200, 231, 0.842);
}

#main .company .cards .card .icon-3{
    color: rgba(245, 165, 16, 0.836);
}

#main .company .cards .card .icon-4{
    color: rgba(72, 221, 72, 0.808);
}
/* .//Company section */

/* Testimonials section */

#main .testimonials{
    padding: 5rem 0rem;
}

#main .testimonials .testimonial-info{
    text-align: left;
    position: relative;
    z-index: 1;
}

#main .testimonials .testimonial-info::before{
    content: "\f10d";
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    font-size: 100px;
    color: lightgray;
    opacity: .4;
    z-index: -1;
}

#main .testimonials .testimonial-info .text{
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 2rem;
}

#main .testimonials .testimonial-info .text-2{
    font-size: .9rem;
    font-weight: lighter;
    text-transform: uppercase;
    padding-top: 20px;
}

#main .testimonials .testimonial-info .text-2>span{
    font-weight: bold;
    color: rgba(218, 13, 54, 0.548);
}

#main .testimonials .testimonial-img img{
    width: 150px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    filter:  grayscale(.8);
    cursor: pointer;
    transition: all .3s ease;
}

#main .testimonials .testimonial-img img:hover{
    filter:  grayscale(0);
    transform: scale(1.05);
}
/* .//Testimonials section */

/* News section */
#main .news{
    background-color: var(--light-gray);
    padding: 5rem 0rem;
    border-radius: 20px;
}

#main .news .card{
    border: none;
    text-align: left;
    margin: 1rem .5rem;
    cursor: pointer;
    box-shadow: none !important;
}

#main .news .card .card-img{
    max-width: 350px;
    width: 100%;
    height: 100%;
    margin: auto;
}

#main .news .card .card-img .img{
    width: 350px;
    height: 100%;
    border-radius: 10px;
    position: relative;
    transition: transform .4s ease;
}

#main .news .card .card-img .img:hover{
    transform: scale(1.03);
}

#main .news .card .card-body{
    position: absolute;
    bottom: -10px;
    left: 0;
    line-height: 0;
    transition: bottom .6s ease;
}

#main .news .card:hover .card-body{
    bottom: 10px;
} 

#main .news .card .card-body .h5{
    font-size: 22px;
    font-weight: 600;
}
/* .//News section */

/* Brands section */
#main .brands{
    padding: 5rem 0rem;
}

#main .brands .cards{
    padding: 2rem 0;
}

#main .brands .card{
    border: none;
    margin: 2rem;
    cursor: pointer;
    box-shadow: none !important;
}

#main .brands .card .img{
    width: 150px;
    height: 100%;
    filter: grayscale(1);
    transition: filter .3s ease;
}

#main .brands .card .img:hover{
    filter: grayscale(0);
}
/* .//Brands section */
/* .//MAIN SECTION */

/* Footer Section */
#footer{
    background: #000;
    padding: 3rem 0;
}

#footer .container hr{
    color: #fff;
    margin: 2.5rem 0rem;
}

#footer .container .footer-header{
    align-items: center;
}

#footer .container .footer-header .h2{
    color: #fff;
    font-weight: bolder;
}

#footer .container .footer-header .btn{
    height: 100%;
}

#footer .container .row .col-md-2 .links>a{
    color: darkgray;
    display: block;
    padding-top: 1rem;
}

#footer .container .row .col-md-4 .footer-icon{
    padding-bottom: 8rem;
}

#footer .container .row .col-md-4 .contact>span{
    color: darkgray;
    display: block;
    padding-top: 1rem;
}

#footer .row .col-md-4 .social a{
    color: darkgray;
    padding-right: 1.5rem;
}

#footer .container .row .col-md-4>p{
    color: darkgray;
}
/* .//Footer Section */





